nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: black;
  box-shadow: 2px 2px 2px black;
  position: sticky;
  z-index: 999528942986529865;
}

nav svg path {
  fill: white;
}

nav svg path:nth-child(8),
nav svg path:nth-child(9),
nav svg path:nth-child(10) {
  fill: #30aef8;
}
