main {
  background-image: url(../../assets/imgs/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 78.5vh;
}
.container__main {
  max-width: 600px;
  width: 100%;
  padding: 28px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  border-radius: 24px;
  max-width: 550px;
  width: 100%;
  /* margin: auto auto; */
  padding: 32px;
  background-color: white;
}

form h1 {
  margin-bottom: 24px;
  font-size: 150%;
}

form input,
form select,
form button {
  width: 100%;
  padding: 15px 30px;
  border: 2px solid black !important;
  background-color: transparent !important;
  font-size: 15px !important;
  border-radius: 5px;
  margin-bottom: 1rem;
  outline: none;
}

form .react-tel-input {
  width: 100% !important;
  padding: 8px 30px 8px 0px !important;
  border: 2px solid black !important;
  background-color: transparent !important;
  font-size: 15px !important;
  border-radius: 5px !important;
  margin-bottom: 1rem !important;
}

form .react-tel-input input {
  border: none !important;
}

form button {
  background-color: #30aef8 !important;
  color: white;
  padding: 20px 0px !important;
  border-color: #30aef8 !important;
  transition: 0.6s;
  cursor: pointer;
}

form button:hover {
  background: black !important;
  color: white !important;
  border-color: black !important;
}

form input:focus,
form select:focus,
form button:focus {
  box-shadow: none !important;
  border-color: black !important;
}

form label::after {
  background-color: transparent !important;
}

.modal-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}

.show-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
  background: white;
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #50dcfb;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.show-modal h1 {
  margin-top: 24px;
}

.tick-icon {
  width: 260px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 185, 0);
  margin: auto;
  animation: tickAnimation 2s infinite;
  border-radius: 50%;
}
.error-icon {
  width: 260px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
  animation: tickAnimation 2s infinite;
}
@keyframes tickAnimation {
  0%,
  100% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }
}

.dotted-loader {
  width: 260px;
  height: 260px;
  border-width: 4px;
  border-color: #0075ff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -130px;
  animation: anim-rigth 2s linear infinite;
}

.dotted-loader::before {
  content: "";
  position: absolute;
  width: 156px;
  height: 156px;
  border-width: 4px;
  border-color: #009688;
  border-style: solid dotted;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: anim-left 1s linear infinite;
}

.dotted-loader::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 78px;
  border-width: 4px;
  border-color: #0075ff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: anim-rigth 2s linear infinite;
}

@keyframes anim-rigth {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes anim-left {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}
